nav.nav {
    /*  height: 50px;
    width: 100vw; */
    padding: 5px 20px;
    margin-bottom: 20px;
    width: 100%;
}

nav.nav a {
    text-decoration: none;
    padding: 15px;
    color: #FE5D9F;
    transition: 300ms;
    margin: 0 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px
}

nav.nav a:hover,
a.active {
    background: #FE5D9F;
    color: #F1E4F3!important;
}

a.home-link:hover {
    background: #fff!important
}