<div class="nav">
    <a routerLink="" class="home-link">ConduitApp</a>
    <a routerLink="/login" routerLinkActive="active" *ngIf="userS.connectedUser == null">login</a>
    <a routerLink="/register" routerLinkActive="active" *ngIf="userS.connectedUser == null">register</a>
    <a routerLink="/editor" routerLinkActive="active" *ngIf="userS.connectedUser != null">Editor</a>
    <a routerLink="/search" routerLinkActive="active">Search</a>
    <a *ngIf="userS.connectedUser != null" (click)="disconnect()">Deconnect</a>
</div>