<div class="container" *ngIf="articleS.httpReqOnProcess">
    <aneo-app-loader></aneo-app-loader>
</div>
<div class="container" *ngIf="!articleS.httpReqOnProcess">
    <div class="row">
        <div class="col-md-3" *ngFor="let article of articleS.allArticles; let i = index">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{article.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{article.slug}}</h6>
                    <a [routerLink]="[ '/article',article.slug ]" routerLinkActive="active" class="card-link">voir
                        plus</a>
                    <a [routerLink]="[ '/profile',article.author.username ]" routerLinkActive="active" class="card-link">Auteur</a>
                </div>
            </div>
        </div>
    </div>
</div>