<div class="container" *ngIf="userS.resiterLoder">
    <aneo-app-loader></aneo-app-loader>
</div>
<form *ngIf="!userS.resiterLoder">
    <ul *ngIf="userS.loginError.length != 0" class="Error">
        <li *ngFor="let error of userS.loginError">
            <b>{{error.field}}</b>
            <ul>
                <li *ngFor="let msg of error.msg">{{msg}}</li>
            </ul>
        </li>
    </ul>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" name='email' required class="form-control" id="email" placeholder="Enter email" [(ngModel)]="userS.loginUser.email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name='password' required class="form-control" id="password" placeholder="Password" [(ngModel)]="userS.loginUser.password">
    </div>
    <button type="submit" class="btn btn-primary" (click)="userS.signIn()">Submit</button>
</form>