<div class="container" *ngIf="articleS.httpReqOnProcess">
    <aneo-app-loader></aneo-app-loader>
</div>
<div class="container" *ngIf="!articleS.httpReqOnProcess">
    <ul *ngIf="articleS.articleError.length != 0" class="Error">
        <li *ngFor="let error of articleS.articleError">
            <b>{{error.field}}</b>
            <ul>
                <li *ngFor="let msg of error.msg">{{msg}}</li>
            </ul>
        </li>
    </ul>
    <form>
        <div class="form-group">
            <input type="text" name='title' required class="form-control" id="title" placeholder="Enter Title"
                [(ngModel)]="articleS.newArticle.title">
        </div>
        <div class="form-group">
            <input type="text" name='description' required class="form-control" id="description"
                placeholder="Enter Description" [(ngModel)]="articleS.newArticle.description">
        </div>
        <div class="form-group">
            <textarea name="contenu" id="contenu" cols="30" rows="5" class="form-control" placeholder="Enter Body"
                [(ngModel)]="articleS.newArticle.body"></textarea>
        </div>
        <div class="form-group">
            <ul class="row taglist list-group">
                <li *ngFor="let tag of articleS.newArticle.tagList;let i = index"
                    class="list-group-item list-group-item-success col-md-6">{{tag}} <span
                        (click)="removeTag(i)">x</span></li>
            </ul>
            <div class="row">
                <div class="col-md-3">
                    <input type="text" name='tag' required class="form-control" id="tag" placeholder="Enter Tag"
                        [(ngModel)]="tag">
                </div>
                <div class="col-md-3">
                    <button class="btn btn-info" (click)="addTag()">Add tag</button>
                </div>
            </div>
        </div>
        <button class="btn btn-success" type="submit" (click)="articleS.addNewArticle()">Add Article</button>
    </form>
</div>