<div class="container" *ngIf="profileS.currentUser == null">
    <aneo-app-loader></aneo-app-loader>
</div>
<div class="container-fluid" *ngIf="profileS.currentUser != null">
    <div class="jumbotron jumbotron-fluid" >
        <div class="background-image" [style.background-image]="'url('+profileS.currentUser.image+')'"></div>
        <div class="container">
            <div class="profile-img">
                <img src="{{profileS.currentUser.image}}" alt="" srcset="">
            </div>
            <h1 class="display-4">{{profileS.currentUser.username}}</h1>
        </div>
    </div>
    <aneo-app-paginator></aneo-app-paginator>
</div>